[workspace]
members = [
    # pub
    "pyrsille",
    "rsille",

    # internal
    "packages/canvas",
    "packages/render",
    "packages/tui",
    "packages/term",

    # examples
    "examples",
]
resolver = "3"

[profile.release]
lto = true
# debug = true # only used for perf
