[workspace]
members = [
    # pub
    "pyrsille",
    "rsille",

    # internal
    "packages/anime",
    "packages/canvas",
    "packages/render",
    "packages/tui",
    "packages/term",

    # examples
    "examples",
]
